@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");

body {
  background-image: url(../../assets/imgs/forest.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.papyrus-box {
  background-image: url(../../assets/imgs/papyrus.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1800px;
  height: 920px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.room-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  bottom: 2%;
  position: relative;
}

.room-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: "Trade Winds", system-ui;
  font-size: 50px;
  line-height: 100%;
}

.message-box {
  overflow: none;
  position: relative;
  width: 800px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.88);
  padding-right: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 1px, rgba(0, 0, 0, 0.4) 0px 4px 2px,
    rgba(0, 0, 0, 0.4) 0px 8px 4px, rgba(0, 0, 0, 0.4) 0px 16px 8px,
    rgba(0, 0, 0, 0.4) 0px 32px 16px;
}

.messages {
  overflow: auto;
  position: absolute;
  bottom: 55px;
  max-height: 90%;
  color: white;
  margin: 0px 10px 0px 10px;
  width: 98.6%;
  scrollbar-gutter: stable;
  scroll-margin-top: 50px;
}

.input {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 5px;
}

#message {
  width: 725px;
  height: 40px;
  margin-left: 4px;
}

#send-btn {
  width: 57px;
  margin-left: 5px;
  margin-right: 5px;
}

.text {
  width: 80%;
}

.msg-text {
  font-size: 1.2rem;
}

.msg-date {
  margin-top: 8px;
  font-size: 0.6rem;
  position: absolute;
  right: 15px;
}

.map-content {
  line-height: 32px;
  font-size: 30px;
}

.map-box {
  top: 170px;
  left: 350px;
  position: absolute;
}

.map-header {
  font-size: 40px;
  font-family: "Trade Winds", system-ui;
}
